In [8]:
import quandl
import pandas as pd
import numpy as np

In [9]:
quandl.ApiConfig.api_key = "fN2UtPyw-QP3zU8q7Bzp"

In [10]:
df = quandl.get("EOD/AAPL")
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [11]:
df.shape

(1090, 12)

In [13]:
#Adding High Low Percentage Column
df['HL_PCT'] = (df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100.0

In [14]:
#Adding Percentage Column
df['PCT_change'] = (df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100.0

In [15]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_change
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [16]:
df.isna().any()

Open          False
High          False
Low           False
Close         False
Volume        False
Dividend      False
Split         False
Adj_Open      False
Adj_High      False
Adj_Low       False
Adj_Close     False
Adj_Volume    False
HL_PCT        False
PCT_change    False
dtype: bool

In [19]:
#New df with Important features
df1 = df[['Adj_Close','Adj_Volume','HL_PCT','PCT_change']]
df1.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650
2013-09-04  15.796753  345032800.0  1.195129   -0.173953
2013-09-05  15.688388  236367600.0  1.421447   -0.995502
2013-09-06  15.781833  359525600.0  1.892738   -0.044138
2013-09-09  16.033661  340687200.0  0.877176    0.231683

In [22]:
#for 10 days out so that we can generate prediction for every day for the next 10 days
df1['Prediction'] = df1[['Adj_Close']].shift(-10)

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df1.isna().any()

Adj_Close     False
Adj_Volume    False
HL_PCT        False
PCT_change    False
Prediction     True
dtype: bool

In [26]:
df1.head()

            Adj_Close   Adj_Volume    HL_PCT  PCT_change  Prediction
Date
2013-09-03  15.476472  331928800.0  2.711941   -0.916650   14.422914
2013-09-04  15.796753  345032800.0  1.195129   -0.173953   14.719406
2013-09-05  15.688388  236367600.0  1.421447   -0.995502   14.960780
2013-09-06  15.781833  359525600.0  1.892738   -0.044138   14.805882
2013-09-09  16.033661  340687200.0  0.877176    0.231683   15.541726

In [25]:
df1 = df1.dropna(axis=0)

In [28]:
x = df1[['Adj_Close', 'Adj_Volume','HL_PCT','PCT_change']]
y = df1['Prediction']

In [29]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1)) 
scaled_data = scaler.fit_transform(x)
scaled_data

/root/snap/jupyter/common/lib/python3.7/site-packages/joblib/_multiprocessing_helpers.py:45: UserWarning: [Errno 13] Permission denied.  joblib will operate in serial mode
  warnings.warn('%s.  joblib will operate in serial mode' % (e,))

array([[0.04353009, 0.28052142, 0.14342102, 0.37291086],
       [0.054974  , 0.29337327, 0.04774412, 0.42136074],
       [0.05110202, 0.18679901, 0.06201972, 0.36776692],
       ...,
       [0.97475774, 0.09335968, 0.12213426, 0.56649446],
       [0.96641993, 0.03112262, 0.006487  , 0.41565614],
       [0.97131947, 0.04842012, 0.02874619, 0.42401057]])

In [32]:
from sklearn.model_selection import train_test_split  
x_train, x_test, y_train, y_test = train_test_split(x, y, 
                            test_size=0.3, random_state=1)

In [33]:
print('The train set is', x_train.shape,y_train.shape)
print('The test set is', x_test.shape,y_test.shape)

The train set is (756, 4) (756,)
The test set is (324, 4) (324,)

In [34]:
from sklearn.linear_model import LinearRegression  
model = LinearRegression() # object creation  
model.fit(x_train, y_train) 
print('Data Trained Successfully')

Data Trained Successfully

In [35]:
predictions = model.predict(x_test)
df1 = pd.DataFrame({'Actual': y_test, 'Predicted': predictions})  
df1

               Actual  Predicted
Date
2015-05-22  29.337780  30.696336
2016-08-17  24.988656  26.026217
2015-07-21  26.316769  30.311610
2014-03-05  17.027688  17.304515
2016-02-18  23.632776  22.807209
...               ...        ...
2017-02-10  32.556643  31.738765
2015-10-02  25.605483  25.708615
2014-10-14  24.202049  22.693397
2014-08-06  22.803073  21.689306
2013-09-19  15.312705  15.119433

[324 rows x 2 columns]

In [36]:
from sklearn import metrics

In [37]:
# r2 metric is used to find the accuracy of the model
accuracy = metrics.r2_score(y_test, predictions) 
print('Accuracy of the model is', round(accuracy*100,2),'%') 

# mse is used to find diff between actual and predicted values 
print('Mean Squared Error of the model is',metrics.mean_squared_error(y_test, predictions))
print('Mean Absolute Error of the model is',metrics.mean_absolute_error(y_test, predictions))

#rmse is used to find the distance between actual and predicted value
print('Root Mean Square Error of the model is',np.sqrt(metrics.mean_absolute_error(y_test, predictions)))

Accuracy of the model is 96.74 %
Mean Squared Error of the model is 1.3838928697432438
Mean Absolute Error of the model is 0.9124992541623347
Root Mean Square Error of the model is 0.9552482683377839